<div class="page-header">
  <h1>Edit User Profile</h1>
</div>
<form class="form-horizontal" (submit)="saveUserProfile(userProfile)" *ngIf="userProfile">
  <div class="container">
    <div class="form-group row">
      <label class="col-sm-3 col-xs-12 control-label" for="userProfileName">Name</label>
      <div class="col-sm-9 col-xs-12">
        <input type="text" class="form-control" id="userProfileName" placeholder="Name" [(ngModel)]="userProfile.name">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-xs-12 control-label" for="userProfilePhone">Phone</label>
      <div class="col-sm-9 col-xs-12">
        <input type="text" class="form-control" id="userProfilePhone" placeholder="Phone" [(ngModel)]="userProfile.phone">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-xs-12 control-label" for="userProfileEmail">Email</label>
      <div class="col-sm-9 col-xs-12">
        <input type="email" class="form-control" id="userProfileEmail" placeholder="Email" [(ngModel)]="userProfile.email">
      </div>
    </div>
    <div class="form-group row" [hidden]="!userIsSystemAdmin()">
      <label class="col-sm-3 col-xs-12 control-label" for="userProfileIsSystemAdmin">System Admin</label>
      <div class="col-sm-9 col-xs-12">
        <input type="checkbox" class="form-control" id="userProfileIsSystemAdmin" [(ngModel)]="userProfile.isSystemAdmin">
      </div>
    </div>
    <div class="form-group row" [hidden]="!userIsSystemAdmin()">
      <label class="col-sm-3 col-xs-12 control-label" for="userProfileIsCenterAdmin">Center Admin</label>
      <div class="col-sm-9 col-xs-12">
        <input type="checkbox" class="form-control" id="userProfileIsCenterAdmin" [(ngModel)]="userProfile.isCenterAdmin">
      </div>
    </div>
    <div class="form-group row" [hidden]="!userIsSystemAdmin()">
      <label class="col-sm-3 col-xs-12 control-label" for="userProfileIsValidated">Validated</label>
      <div class="col-sm-9 col-xs-12">
        <input type="checkbox" class="form-control" id="userProfileIsValidated" [(ngModel)]="userProfile.isValidated">
      </div>
    </div>
    <div class="form-group row" [hidden]="!userIsSystemAdmin()">
      <label class="col-sm-3 col-xs-12 control-label" for="userProfileIsRemoved">Deleted (Hide)</label>
      <div class="col-sm-9 col-xs-12">
        <input type="checkbox" class="form-control" id="userProfileIsRemoved" [(ngModel)]="userProfile.isRemoved">
      </div>
    </div>
    <div *ngIf="userIsSystemAdmin()">
      <div class="page-header">
        <h3>Login Account Info (Read-Only)</h3>
      </div>
      <div class="form-group row bg-faded">
        <label class="col-sm-3 col-xs-12 control-label" for="userName">User Name</label>
        <div class="col-sm-9 col-xs-12"> {{ getUserInfo().name }} </div>
      </div>
      <div class="form-group row bg-faded">
        <label class="col-sm-3 col-xs-12 control-label" for="userEmail">User Email</label>
        <div class="col-sm-9 col-xs-12"> {{ getUserInfo().email }} </div>
      </div>
      <div class="form-group row bg-faded">
        <label class="col-sm-3 col-xs-12 control-label" for="userCreatedAt">Created At</label>
        <div class="col-sm-9 col-xs-12"> {{ getUserInfo().createdAt }} </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="form-group row">
      <button type="submit" class="btn btn-primary" [hidden]="!userCanEdit()">Save</button>
      <button class="btn btn-default" [routerLink]="['/CallCentersList']">Cancel</button>
    </div>
  </div>
</form>
