<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <accounts-ui></accounts-ui>
    </div>
    <div class="col-xs-6">
      <button type="button" class="btn btn-sm btn-info" [routerLink]="['/CallPacketsList', {callCenterId: getCallCenterId()}]">Back to Packets</button>
    </div>
  </div>
  <br />
  <div class="row page-header">
    <div class="col-sm-6 col-xs-12">
      <h1>Call Packet</h1>
    </div>
    <div class="col-sm-6 col-xs-12">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link" [class.active]="historyVisible"  (click)="showHistory()">History</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="infoVisible" (click)="showInfo()">Info</a>
        </li>
      </ul>
    </div>
  </div>
  <br />
  <div class="container" *ngIf="callPacket">
    <div class="row">
      <div class="label label-primary col-md-6 col-sm-12 col-xs-12">
        <a [routerLink]="['/CallSheetVeteran', {veteranCallSheetId: callPacket.veteranCallSheetId}]">
          <h4>{{callPacket.veteranName}}</h4>
        </a>
      </div>
      <div class="label label-danger col-md-6 col-sm-12 col-xs-12">
        <a [routerLink]="['/CallPacket', {callPacketId: callPacket._id}]">
          <h4>{{callPacket.guardianName}}</h4>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-12 col-xs-12">
        Veteran:
        <span class="label {{callStatusColorClass(callPacket.veteranStatus)}}">
          <select class="form-control" (change)="changeVeteranStatus($event)" [(ngModel)]="callPacket.veteranStatus">
            <option *ngFor="#callStat of callStatusList()" value="{{callStat.key}}">{{callStat.val}}</option>
          </select>
        </span>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12">
        Guardian:
        <span class="label {{callStatusColorClass(callPacket.guardianStatus)}}">
          <select class="form-control" (change)="changeGuardianStatus($event)" [(ngModel)]="callPacket.guardianStatus">
            <option *ngFor="#callStat of callStatusList()" value="{{callStat.key}}">{{callStat.val}}</option>
          </select>
        </span>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12">
        Mail Call:
        <span class="label {{callStatusColorClass(callPacket.mailCallStatus)}}">
          <select class="form-control" (change)="changeMailCallStatus($event)" [(ngModel)]="callPacket.mailCallStatus">
            <option *ngFor="#callStat of callStatusList()" value="{{callStat.key}}">{{callStat.val}}</option>
          </select>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-12 col-xs-12">
        Caller:
        <span class="label">
          <select class="form-control" (change)="changeCaller($event)" [(ngModel)]="callPacket.callerId">
            <option value="">---</option>
            <option *ngFor="#caller of getCallers()" value="{{caller.userId}}">{{caller.name}}</option>
          </select>
        </span>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12">
        Updated: {{utils.formatDate(callPacket.updatedAt)}}
      </div>
    </div>
    <br />
    <div [hidden]="!historyVisible" >
      <div class="page-header">
        <h2>Recent Status Changes</h2>
      </div>
      <ul class="list-group">
        <li *ngFor="#statusEntry of callPacket.callStatusHistory.reverse()" class="list-group-item">
          <div class="container">
            <div class="row">
                {{callTypeName(statusEntry.callType)}} changed to 
                {{callStatusName(statusEntry.callStatus)}} by
                {{statusEntry.updatedBy.substring(0, statusEntry.updatedBy.indexOf('('))}}
                {{utils.formatDate(statusEntry.updatedAt)}}
            </div>
          </div>
        </li>
      </ul>
      <br />
      <div class="page-header">
        <h2>Recent Caller Changes</h2>
      </div>
      <ul class="list-group">
        <li *ngFor="#statusEntry of callPacket.callerHistory.reverse()" class="list-group-item">
          <div class="container">
            <div class="row">
              Assigned to {{statusEntry.callerName}}
              by  {{statusEntry.updatedBy.substring(0, statusEntry.updatedBy.indexOf('('))}}
              {{utils.formatDate(statusEntry.updatedAt)}}
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div [hidden]="!infoVisible" >
      <div class="page-header">
        <h2>Veteran Info</h2>
      </div>
      <h3>Flight Status</h3>
      <dl class="inline" *ngIf="veteranCallSheet">
        <dt>App Date</dt>
        <dd>{{utils.formatDate(veteranCallSheet.data.general.app_date)}}</dd>
        <dt>Conflict</dt>
        <dd>{{veteranCallSheet.data.vet_type}}</dd>
        <dt>Status</dt>
        <dd>{{veteranCallSheet.data.flight.flight.status}}</dd>
        <dt>Group</dt>
        <dd>{{veteranCallSheet.data.flight.group}}</dd>
        <dt>Confirmed Date</dt>
        <dd>{{utils.formatDate(veteranCallSheet.data.flight.flight.confirmed_date)}}</dd>
        <dt>Confirmed By</dt>
        <dd>{{veteranCallSheet.data.flight.flight.confirmed_by}}</dd>
        <dt>Caller</dt>
        <dd>{{veteranCallSheet.data.general.call.assigned_to}}</dd>
      </dl>
      <h3>Personal</h3>
      <dl class="inline" *ngIf="veteranCallSheet">
        <dt>Phone</dt>
        <dd><a href="tel:{{veteranCallSheet.data.general.address.phone_day}}">{{veteranCallSheet.data.general.address.phone_day}}</a></dd>
        <dt>Phone Evening</dt>
        <dd><a href="tel:{{veteranCallSheet.data.general.address.phone_eve}}">{{veteranCallSheet.data.general.address.phone_eve}}</a></dd>
        <dt>Phone Mobile</dt>
        <dd><a href="tel:{{veteranCallSheet.data.general.address.phone_mbl}}">{{veteranCallSheet.data.general.address.phone_mbl}}</a></dd>
        <dt>Email</dt>
        <dd><a href="mailto:{{veteranCallSheet.data.general.address.email}}">{{veteranCallSheet.data.general.address.email}}</a></dd>
      </dl>
      <h3>Emergency Contact</h3>
      <dl class="inline" *ngIf="veteranCallSheet">
        <dt>Name</dt>
        <dd>{{veteranCallSheet.data.general.emerg_contact.name}}</dd>
        <dt>Relationship</dt>
        <dd>{{veteranCallSheet.data.general.emerg_contact.relation}}</dd>
        <dt>Phone</dt>
        <dd><a href="tel:{{veteranCallSheet.data.general.emerg_contact.address.phone}}">{{veteranCallSheet.data.general.emerg_contact.address.phone}}</a></dd>
        <dt>Phone Evening</dt>
        <dd><a href="tel:{{veteranCallSheet.data.general.emerg_contact.address.phone_eve}}">{{veteranCallSheet.data.general.emerg_contact.address.phone_eve}}</a></dd>
        <dt>Phone Mobile</dt>
        <dd><a href="tel:{{veteranCallSheet.data.general.emerg_contact.address.phone_mbl}}">{{veteranCallSheet.data.general.emerg_contact.address.phone_mbl}}</a></dd>
        <dt>Email</dt>
        <dd><a href="mailto:{{veteranCallSheet.data.general.emerg_contact.address.email}}">{{veteranCallSheet.data.general.emerg_contact.address.email}}</a></dd>
      </dl>
      <h3>Alternate Contact</h3>
      <dl class="inline" *ngIf="veteranCallSheet">
        <dt>Name</dt>
        <dd>{{veteranCallSheet.data.alt_contact.name}}</dd>
        <dt>Relationship</dt>
        <dd>{{veteranCallSheet.data.alt_contact.relation}}</dd>
        <dt>Phone</dt>
        <dd><a href="tel:{{veteranCallSheet.data.alt_contact.address.phone}}">{{veteranCallSheet.data.alt_contact.address.phone}}</a></dd>
        <dt>Phone Evening</dt>
        <dd><a href="tel:{{veteranCallSheet.data.alt_contact.address.phone_eve}}">{{veteranCallSheet.data.alt_contact.address.phone_eve}}</a></dd>
        <dt>Phone Mobile</dt>
        <dd><a href="tel:{{veteranCallSheet.data.alt_contact.address.phone_mbl}}">{{veteranCallSheet.data.alt_contact.address.phone_mbl}}</a></dd>
        <dt>Email</dt>
        <dd><a href="mailto:{{veteranCallSheet.data.alt_contact.address.email}}">{{veteranCallSheet.data.alt_contact.address.email}}</a></dd>
      </dl>
      <h3>Mail Call Contact</h3>
      <dl class="inline" *ngIf="veteranCallSheet">
        <dt>Name</dt>
        <dd>{{veteranCallSheet.data.mail_call.name}}</dd>
        <dt>Relationship</dt>
        <dd>{{veteranCallSheet.data.mail_call.relation}}</dd>
        <dt>Phone</dt>
        <dd><a href="tel:{{veteranCallSheet.data.mail_call.address.phone}}">{{veteranCallSheet.data.mail_call.address.phone}}</a></dd>
        <dt>Phone Evening</dt>
        <dd><a href="tel:{{veteranCallSheet.data.mail_call.address.phone_eve}}">{{veteranCallSheet.data.mail_call.address.phone_eve}}</a></dd>
        <dt>Phone Mobile</dt>
        <dd><a href="tel:{{veteranCallSheet.data.mail_call.address.phone_mbl}}">{{veteranCallSheet.data.mail_call.address.phone_mbl}}</a></dd>
        <dt>Email</dt>
        <dd><a href="mailto:{{veteranCallSheet.data.mail_call.address.email}}">{{veteranCallSheet.data.mail_call.address.email}}</a></dd>
      </dl>
      <br />
      <div class="page-header">
        <h2>Guardian Info</h2>
      </div>
      <h3>Flight Status</h3>
      <dl class="inline" *ngIf="guardianCallSheet">
        <dt>App Date</dt>
        <dd>{{utils.formatDate(guardianCallSheet.data.general.app_date)}}</dd>
        <dt>Status</dt>
        <dd>{{guardianCallSheet.data.flight.flight.status}}</dd>
        <dt>Confirmed Date</dt>
        <dd>{{utils.formatDate(guardianCallSheet.data.flight.flight.confirmed_date)}}</dd>
        <dt>Confirmed By</dt>
        <dd>{{guardianCallSheet.data.flight.flight.confirmed_by}}</dd>
        <dt>Caller</dt>
        <dd>{{guardianCallSheet.data.general.call.assigned_to}}</dd>
      </dl>
      <h3>Personal</h3>
      <dl class="inline" *ngIf="guardianCallSheet">
        <dt>Phone</dt>
        <dd><a href="tel:{{guardianCallSheet.data.general.address.phone_day}}">{{guardianCallSheet.data.general.address.phone_day}}</a></dd>
        <dt>Phone Evening</dt>
        <dd><a href="tel:{{guardianCallSheet.data.general.address.phone_eve}}">{{guardianCallSheet.data.general.address.phone_eve}}</a></dd>
        <dt>Phone Mobile</dt>
        <dd><a href="tel:{{guardianCallSheet.data.general.address.phone_mbl}}">{{guardianCallSheet.data.general.address.phone_mbl}}</a></dd>
        <dt>Email</dt>
        <dd><a href="mailto:{{guardianCallSheet.data.general.address.email}}">{{guardianCallSheet.data.general.address.email}}</a></dd>
      </dl>
      <h3>Emergency Contact</h3>
      <dl class="inline" *ngIf="guardianCallSheet">
        <dt>Name</dt>
        <dd>{{guardianCallSheet.data.general.emerg_contact.name}}</dd>
        <dt>Relationship</dt>
        <dd>{{guardianCallSheet.data.general.emerg_contact.relation}}</dd>
        <dt>Phone</dt>
        <dd><a href="tel:{{guardianCallSheet.data.general.emerg_contact.address.phone}}">{{guardianCallSheet.data.general.emerg_contact.address.phone}}</a></dd>
        <dt>Phone Evening</dt>
        <dd><a href="tel:{{guardianCallSheet.data.general.emerg_contact.address.phone_eve}}">{{guardianCallSheet.data.general.emerg_contact.address.phone_eve}}</a></dd>
        <dt>Phone Mobile</dt>
        <dd><a href="tel:{{guardianCallSheet.data.general.emerg_contact.address.phone_mbl}}">{{guardianCallSheet.data.general.emerg_contact.address.phone_mbl}}</a></dd>
        <dt>Email</dt>
        <dd><a href="mailto:{{guardianCallSheet.data.general.emerg_contact.address.email}}">{{guardianCallSheet.data.general.emerg_contact.address.email}}</a></dd>
      </dl>
    </div>
  </div>
</div>
