<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <accounts-ui></accounts-ui>
    </div>
    <div class="col-xs-6">
      <button type="button" class="btn btn-sm btn-info" [routerLink]="['/CallPacketsList', {callCenterId: getCallCenterId()}]">Back to Packets</button>
    </div>
  </div>
  <br />
  <div class="page-header">
    <h1>Call Packet</h1>
  </div>
  <div class="container" *ngIf="callPacket">
    <div class="row">
      <div class="label label-primary col-md-6 col-sm-12 col-xs-12">
        <a [routerLink]="['/CallPacket', {callPacketId: callPacket._id}]">
          <h4>{{callPacket.veteranName}}</h4>
        </a>
      </div>
      <div class="label label-danger col-md-6 col-sm-12 col-xs-12">
        <a [routerLink]="['/CallPacket', {callPacketId: callPacket._id}]">
          <h4>{{callPacket.guardianName}}</h4>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-12 col-xs-12">
        Veteran:
        <span class="label {{callStatusColorClass(callPacket.veteranStatus)}}">
          <select class="form-control" (change)="changeVeteranStatus($event)" [(ngModel)]="callPacket.veteranStatus">
            <option *ngFor="#callStat of callStatusList()" value="{{callStat.key}}">{{callStat.val}}</option>
          </select>
        </span>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12">
        Guardian:
        <span class="label {{callStatusColorClass(callPacket.guardianStatus)}}">
          <select class="form-control" (change)="changeGuardianStatus($event)" [(ngModel)]="callPacket.guardianStatus">
            <option *ngFor="#callStat of callStatusList()" value="{{callStat.key}}">{{callStat.val}}</option>
          </select>
        </span>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12">
        Mail Call:
        <span class="label {{callStatusColorClass(callPacket.mailCallStatus)}}">
          <select class="form-control" (change)="changeMailCallStatus($event)" [(ngModel)]="callPacket.mailCallStatus">
            <option *ngFor="#callStat of callStatusList()" value="{{callStat.key}}">{{callStat.val}}</option>
          </select>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-12 col-xs-12">
        Caller:
        <span class="label">
          <select class="form-control" (change)="changeCaller($event)" [(ngModel)]="callPacket.callerId">
            <option value="">---</option>
            <option *ngFor="#caller of getCallers()" value="{{caller.userId}}">{{caller.name}}</option>
          </select>
        </span>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12">
        Updated: {{utils.formatDate(callPacket.updatedAt)}}
      </div>
    </div>
    <br />
    <div class="page-header">
      <h2>Recent Status Changes</h2>
    </div>
    <ul class="list-group">
      <li *ngFor="#statusEntry of callPacket.callStatusHistory.reverse()" class="list-group-item">
        <div class="container">
          <div class="row">
              {{callTypeName(statusEntry.callType)}} changed to 
              {{callStatusName(statusEntry.callStatus)}} by
              {{statusEntry.updatedBy.substring(0, statusEntry.updatedBy.indexOf('('))}}
              {{utils.formatDate(statusEntry.updatedAt)}}
          </div>
        </div>
      </li>
    </ul>
    <br />
    <div class="page-header">
      <h2>Recent Caller Changes</h2>
    </div>
    <ul class="list-group">
      <li *ngFor="#statusEntry of callPacket.callerHistory.reverse()" class="list-group-item">
        <div class="container">
          <div class="row">
            Assigned to {{statusEntry.callerName}}
            by  {{statusEntry.updatedBy.substring(0, statusEntry.updatedBy.indexOf('('))}}
            {{utils.formatDate(statusEntry.updatedAt)}}
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
