<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <accounts-ui></accounts-ui>
    </div>
    <div class="col-xs-6">
      <button type="button" class="btn btn-sm btn-info" [routerLink]="['/CallCentersList']">Back to Events</button>
    </div>
  </div>
  <br />
  <div class="row page-header">
    <div class="col-sm-6 col-xs-12">
      <h1>{{getCallCenterName()}}</h1>
    </div>
    <div class="col-sm-6 col-xs-12">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link" [class.active]="packetsVisible"  (click)="showPackets()">Packets</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="commentsVisible" (click)="showComments()">Comments</a>
        </li>
      </ul>
    </div>
  </div>
  <br />
  <div class="row page-header" [hidden]="!packetsVisible">
    <div class="col-sm-6 col-xs-12">
      <ul class="nav nav-pills" [hidden]="!userIsCenterAdmin() || getCallCenterIsRemoved()">
        <li class="nav-item">
          <a class="nav-link" [class.active]="yourPackets"  (click)="showYours()">Yours</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="otherPackets" (click)="showOthers()">Others</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="unassignedPackets" (click)="showUnassigned()">Unassigned</a>
        </li>
      </ul>
    </div>
    <div class="col-sm-6 col-xs-12" [hidden]="!packetsVisible">
      <ul class="nav nav-pills">
        <li class="nav-item">
          Sort by:
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="sortVetNameLast" (click)="sortVetLastName()">Vet</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="sortGrdNameLast" (click)="sortGrdLastName()">Grd</a>
        </li>
      </ul>
    </div>
  </div>
  <div [hidden]="!packetsVisible">
    <div [hidden]="!yourPackets">
      <div class="page-header">
        <h2>Your Call Packets</h2>
      </div>
      <ul class="list-group">
        <li *ngFor="#callPacket of myCallPackets" class="list-group-item" [class.bg-inverse]="callPacket.isRemoved">
          <div class="container">
            <div class="row">
              <div class="label label-primary col-md-6 col-sm-12 col-xs-12">
                <a [routerLink]="['/CallPacket', {callPacketId: callPacket._id}]">
                  <h4>{{callPacket.veteranFirstName}} {{callPacket.veteranLastName}}</h4>
                </a>
              </div>
              <div class="label label-danger col-md-6 col-sm-12 col-xs-12">
                <a [routerLink]="['/CallPacket', {callPacketId: callPacket._id}]">
                  <h4>{{callPacket.guardianFirstName}} {{callPacket.guardianLastName}}</h4>
                </a>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 col-sm-12 col-xs-12">
                Veteran:
                <span class="label {{callStatusColorClass(callPacket.veteranStatus)}}">
                  {{callStatusName(callPacket.veteranStatus)}}
                </span>
              </div>
              <div class="col-md-4 col-sm-12 col-xs-12">
                Guardian:
                <span class="label {{callStatusColorClass(callPacket.guardianStatus)}}">
                  {{callStatusName(callPacket.guardianStatus)}}
                </span>
              </div>
              <div class="col-md-4 col-sm-12 col-xs-12">
                Mail Call:
                <span class="label {{callStatusColorClass(callPacket.mailCallStatus)}}">
                  {{callStatusName(callPacket.mailCallStatus)}}
                </span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-sm-12 col-xs-12">
                Caller: {{callPacket.callerName}}
              </div>
              <div class="col-md-6 col-sm-12 col-xs-12">
                Updated: {{utils.formatDate(callPacket.updatedAt)}}
              </div>
            </div>
          </div>
        </li>
      </ul>
      <br />
    </div>
    <div [hidden]="!otherPackets" >
      <div class="page-header" [hidden]="!userIsCenterAdmin() || getCallCenterIsRemoved()">
        <h2>Other Call Packets</h2>
      </div>

      <select class="form-control" (change)="changeCallerFilter($event)" [(ngModel)]="callerFilterId">
        <option value="">--All Packets But Yours--</option>
        <option *ngFor="#caller of getCallers()" value="{{caller.userId}}">{{caller.name}}</option>
      </select>
      <ul class="list-group">
        <li *ngFor="#callPacket of otherCallPackets" class="list-group-item" [class.bg-inverse]="callPacket.isRemoved">
          <div class="container">
            <div class="row">
              <div class="label label-primary col-md-6 col-sm-12 col-xs-12">
                <a [routerLink]="['/CallPacket', {callPacketId: callPacket._id}]">
                  <h4>{{callPacket.veteranFirstName}} {{callPacket.veteranLastName}}</h4>
                </a>
              </div>
              <div class="label label-danger col-md-6 col-sm-12 col-xs-12">
                <a [routerLink]="['/CallPacket', {callPacketId: callPacket._id}]">
                  <h4>{{callPacket.guardianFirstName}} {{callPacket.guardianLastName}}</h4>
                </a>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 col-sm-12 col-xs-12">
                Veteran:
                <span class="label {{callStatusColorClass(callPacket.veteranStatus)}}">
                  {{callStatusName(callPacket.veteranStatus)}}
                </span>
              </div>
              <div class="col-md-4 col-sm-12 col-xs-12">
                Guardian:
                <span class="label {{callStatusColorClass(callPacket.guardianStatus)}}">
                  {{callStatusName(callPacket.guardianStatus)}}
                </span>
              </div>
              <div class="col-md-4 col-sm-12 col-xs-12">
                Mail Call:
                <span class="label {{callStatusColorClass(callPacket.mailCallStatus)}}">
                  {{callStatusName(callPacket.mailCallStatus)}}
                </span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-sm-12 col-xs-12">
                Caller: {{callPacket.callerName}}
              </div>
              <div class="col-md-6 col-sm-12 col-xs-12">
                Updated: {{utils.formatDate(callPacket.updatedAt)}}
              </div>
            </div>
          </div>
        </li>
      </ul>
      <br />
    </div>
    <div [hidden]="!unassignedPackets" >
      <div class="row page-header" [hidden]="!userIsCenterAdmin() || getCallCenterIsRemoved()">
        <div class="col-xs-6">
          <h2>Unassigned Call Packets</h2>
        </div>
        <div class="col-xs-6">
          <button type="button" class="btn btn-sm btn-default" (click)="addVeteransFromFlight()">Add from Flight</button>
        </div>
      </div>
      <ul class="list-group">
        <li *ngFor="#callPacket of unassignedCallPackets" class="list-group-item" [class.bg-inverse]="callPacket.isRemoved">
          <div class="container">
            <div class="row">
              <div class="label label-primary col-md-6 col-sm-12 col-xs-12">
                <a [routerLink]="['/CallPacket', {callPacketId: callPacket._id}]">
                  <h4>{{callPacket.veteranFirstName}} {{callPacket.veteranLastName}}</h4>
                </a>
              </div>
              <div class="label label-danger col-md-6 col-sm-12 col-xs-12">
                <a [routerLink]="['/CallPacket', {callPacketId: callPacket._id}]">
                  <h4>{{callPacket.guardianFirstName}} {{callPacket.guardianLastName}}</h4>
                </a>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 col-sm-12 col-xs-12">
                Veteran:
                <span class="label {{callStatusColorClass(callPacket.veteranStatus)}}">
                  {{callStatusName(callPacket.veteranStatus)}}
                </span>
              </div>
              <div class="col-md-4 col-sm-12 col-xs-12">
                Guardian:
                <span class="label {{callStatusColorClass(callPacket.guardianStatus)}}">
                  {{callStatusName(callPacket.guardianStatus)}}
                </span>
              </div>
              <div class="col-md-4 col-sm-12 col-xs-12">
                Mail Call:
                <span class="label {{callStatusColorClass(callPacket.mailCallStatus)}}">
                  {{callStatusName(callPacket.mailCallStatus)}}
                </span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div [hidden]="!commentsVisible" >
    <div class="row page-header">
      <div class="col-xs-12">
        <h2>Comments</h2>
      </div>
      <div class="col-xs-12 list-group-item bg-faded">
        <form class="form-horizontal" [ngFormModel]="messagesForm" #f="ngForm" (submit)="addMessage(f.value)">
          <div class="container">
            <div class="form-group row">
              <div class="col-md-10 col-sm-8 col-xs-12">
                <textarea type="text" class="form-control" id="content" placeholder="Comment" ngControl="content"></textarea>
              </div>
              <div class="col-md-2 col-sm-4 col-xs-12">
                <button type="submit" class="btn btn-primary">Add</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <ul class="list-group">
      <li *ngFor="#message of messages" class="list-group-item" [class.bg-inverse]="message.isRemoved">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <pre>{{message.content}}</pre>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-12 col-xs-12">
              {{message.createdName}} wrote {{utils.formatDate(message.createdAt)}}
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
              Packet: {{message.packetId}}
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
              Ref: {{message.veteranName}}
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
