<div class="container">
  <accounts-ui></accounts-ui>
  <div class="page-header">
    <h1>Your Call Packets</h1>
  </div>
  <ul class="list-group">
    <li *ngFor="#callPacket of assignedCallPackets" class="list-group-item" [class.bg-inverse]="callPacket.isRemoved">
      <div class="container">
        <div class="row">
          <div class="label label-primary col-md-6 col-sm-12 col-xs-12">
            <a [routerLink]="['/CallPacket', {callPacketId: callPacket._id}]">
              <h4>{{callPacket.veteranName}}</h4>
            </a>
          </div>
          <div class="label label-danger col-md-6 col-sm-12 col-xs-12">
            <a [routerLink]="['/CallPacket', {callPacketId: callPacket._id}]">
              <h4>{{callPacket.guardianName}}</h4>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-12 col-xs-12">
            Veteran: {{callStatusName(callPacket.veteranStatus)}}
          </div>
          <div class="col-md-4 col-sm-12 col-xs-12">
            Guardian: {{callStatusName(callPacket.guardianStatus)}}
          </div>
          <div class="col-md-4 col-sm-12 col-xs-12">
            Mail Call: {{callStatusName(callPacket.mailCallStatus)}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-12 col-xs-12">
            Caller: {{callPacket.callerName}}
          </div>
          <div class="col-md-6 col-sm-12 col-xs-12">
            Updated: {{utils.formatDate(callPacket.updatedAt)}}
          </div>
        </div>
      </div>
    </li>
  </ul>
  <div class="page-header">
    <h1>Available Call Packets</h1>
  </div>
  <ul class="list-group">
    <li *ngFor="#callPacket of availableCallPackets" class="list-group-item" [class.bg-inverse]="callPacket.isRemoved">
      <div class="container">
        <div class="row">
          <div class="label label-primary col-md-6 col-sm-12 col-xs-12">
            <a [routerLink]="['/CallPacket', {callPacketId: callPacket._id}]">
              <h4>{{callPacket.veteranName}}</h4>
            </a>
          </div>
          <div class="label label-danger col-md-6 col-sm-12 col-xs-12">
            <a [routerLink]="['/CallPacket', {callPacketId: callPacket._id}]">
              <h4>{{callPacket.guardianName}}</h4>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-12 col-xs-12">
            Veteran: {{callStatusName(callPacket.veteranStatus)}}
          </div>
          <div class="col-md-4 col-sm-12 col-xs-12">
            Guardian: {{callStatusName(callPacket.guardianStatus)}}
          </div>
          <div class="col-md-4 col-sm-12 col-xs-12">
            Mail Call: {{callStatusName(callPacket.mailCallStatus)}}
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
