<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <accounts-ui></accounts-ui>
    </div>
    <div class="col-xs-6">
      <button type="button" class="btn btn-sm btn-info" [routerLink]="['/CallCentersList']">Back to Events</button>
    </div>
  </div>
  <br />
  <div class="row page-header">
    <div class="col-sm-6 col-xs-12">
      <h1>{{getCallCenterName()}}</h1>
    </div>
    <div class="col-sm-6 col-xs-12">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link" [class.active]="packetsVisible"  (click)="showPackets()">Packets</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="commentsVisible" (click)="showComments()">Comments</a>
        </li>
      </ul>
    </div>
  </div>
  <br />
  <div [hidden]="!packetsVisible" >
    <div class="page-header">
      <h2>Your Call Packets</h2>
    </div>
    <ul class="list-group">
      <li *ngFor="#callPacket of myCallPackets" class="list-group-item" [class.bg-inverse]="callPacket.isRemoved">
        <div class="container">
          <div class="row">
            <div class="label label-primary col-md-6 col-sm-12 col-xs-12">
              <a [routerLink]="['/CallPacket', {callPacketId: callPacket._id}]">
                <h4>{{callPacket.veteranName}}</h4>
              </a>
            </div>
            <div class="label label-danger col-md-6 col-sm-12 col-xs-12">
              <a [routerLink]="['/CallPacket', {callPacketId: callPacket._id}]">
                <h4>{{callPacket.guardianName}}</h4>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-12 col-xs-12">
              Veteran:
              <span class="label {{callStatusColorClass(callPacket.veteranStatus)}}">
                {{callStatusName(callPacket.veteranStatus)}}
              </span>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
              Guardian:
              <span class="label {{callStatusColorClass(callPacket.guardianStatus)}}">
                {{callStatusName(callPacket.guardianStatus)}}
              </span>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
              Mail Call:
              <span class="label {{callStatusColorClass(callPacket.mailCallStatus)}}">
                {{callStatusName(callPacket.mailCallStatus)}}
              </span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
              Caller: {{callPacket.callerName}}
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
              Updated: {{utils.formatDate(callPacket.updatedAt)}}
            </div>
          </div>
        </div>
      </li>
    </ul>
    <br />
    <div class="page-header" [hidden]="!userIsCenterAdmin() || getCallCenterIsRemoved()">
      <h2>Other Call Packets</h2>
    </div>
    <ul class="list-group">
      <li *ngFor="#callPacket of otherCallPackets" class="list-group-item" [class.bg-inverse]="callPacket.isRemoved">
        <div class="container">
          <div class="row">
            <div class="label label-primary col-md-6 col-sm-12 col-xs-12">
              <a [routerLink]="['/CallPacket', {callPacketId: callPacket._id}]">
                <h4>{{callPacket.veteranName}}</h4>
              </a>
            </div>
            <div class="label label-danger col-md-6 col-sm-12 col-xs-12">
              <a [routerLink]="['/CallPacket', {callPacketId: callPacket._id}]">
                <h4>{{callPacket.guardianName}}</h4>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-12 col-xs-12">
              Veteran:
              <span class="label {{callStatusColorClass(callPacket.veteranStatus)}}">
                {{callStatusName(callPacket.veteranStatus)}}
              </span>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
              Guardian:
              <span class="label {{callStatusColorClass(callPacket.guardianStatus)}}">
                {{callStatusName(callPacket.guardianStatus)}}
              </span>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
              Mail Call:
              <span class="label {{callStatusColorClass(callPacket.mailCallStatus)}}">
                {{callStatusName(callPacket.mailCallStatus)}}
              </span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
              Caller: {{callPacket.callerName}}
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
              Updated: {{utils.formatDate(callPacket.updatedAt)}}
            </div>
          </div>
        </div>
      </li>
    </ul>
    <br />
    <div class="row page-header" [hidden]="!userIsCenterAdmin() || getCallCenterIsRemoved()">
      <div class="col-xs-6">
        <h2>Unassigned Call Packets</h2>
      </div>
      <div class="col-xs-6">
        <button type="button" class="btn btn-sm btn-default" (click)="addVeteransFromFlight()">Add from Flight</button>
      </div>
    </div>
    <ul class="list-group">
      <li *ngFor="#callPacket of unassignedCallPackets" class="list-group-item" [class.bg-inverse]="callPacket.isRemoved">
        <div class="container">
          <div class="row">
            <div class="label label-primary col-md-6 col-sm-12 col-xs-12">
              <a [routerLink]="['/CallPacket', {callPacketId: callPacket._id}]">
                <h4>{{callPacket.veteranName}}</h4>
              </a>
            </div>
            <div class="label label-danger col-md-6 col-sm-12 col-xs-12">
              <a [routerLink]="['/CallPacket', {callPacketId: callPacket._id}]">
                <h4>{{callPacket.guardianName}}</h4>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-12 col-xs-12">
              Veteran:
              <span class="label {{callStatusColorClass(callPacket.veteranStatus)}}">
                {{callStatusName(callPacket.veteranStatus)}}
              </span>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
              Guardian:
              <span class="label {{callStatusColorClass(callPacket.guardianStatus)}}">
                {{callStatusName(callPacket.guardianStatus)}}
              </span>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
              Mail Call:
              <span class="label {{callStatusColorClass(callPacket.mailCallStatus)}}">
                {{callStatusName(callPacket.mailCallStatus)}}
              </span>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div [hidden]="!commentsVisible" >
    <div class="row page-header">
      <div class="col-xs-6">
        <h2>Comments</h2>
      </div>
      <div class="col-xs-6">
        <button type="button" class="btn btn-sm btn-default">Add Comment</button>
      </div>
    </div>
    <ul class="list-group">
      <li class="list-group-item">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <b>Some nice comment about the call center in general.</b>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-12 col-xs-12">
              Jane Smith wrote on 1/25/2005 at 4:45pm
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
              Ref:
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
              Tags: Announcement
            </div>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <b>Some specific comment about a veteran on this list.</b>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-12 col-xs-12">
              John Miller wrote on 1/25/2005 at 4:45pm
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
              Ref: <a href="#">Frank Salimeri</a>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
              Tags: Veteran, Medical
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
