<div>
  <accounts-ui></accounts-ui>
  <call_centers-form [hidden]="!canAddAndRemove()"></call_centers-form> 
  <h2>Call Center Events</h2>
  <ul>
    <li *ngFor="#callCenter of callCenters">
      <div>
        <a [routerLink]="['/CallCenterDetails', {callCenterId: callCenter._id}]">{{callCenter.name}}</a>
        <button [hidden]="!canAddAndRemove()" (click)="removeCallCenter(callCenter)">X</button>
      </div>
      <div>
        {{callCenter.startDate}} - {{callCenter.endDate}}
      </div>
      <div>
        {{callCenter.flightName}}
      </div>
      <div>
        {{callCenter.flightId}}
      </div>
    </li>
  </ul>
  <h2>User Profiles</h2>
  <ul>
    <li *ngFor="#userProfile of profiles">
      <a [routerLink]="['/UserProfileDetails', {userProfileId: userProfile._id}]">{{userProfile.name}}</a>
      <div>Phone: {{userProfile.phone}}</div>
      <div>Email: {{userProfile.email}}</div>
    </li>
  </ul>
</div>
