<div class="container">
  <accounts-ui></accounts-ui>
  <div class="page-header">
    <h1>Call Center Events</h1>
  </div>
  <ul class="list-group">
    <li *ngFor="#callCenter of callCenters" class="list-group-item" [class.bg-inverse]="callCenter.isRemoved">
      <div>
        <h3>
          <a [routerLink]="['/CallPacketsList', {callCenterId: callCenter._id}]">{{callCenter.name}}</a>
          <font size="2">
            <a [hidden]="!canAddAndRemove()" [routerLink]="['/CallCenterDetails', {callCenterId: callCenter._id}]">(edit)</a>
          </font>
        </h3>
      </div>
      <div>
        {{utils.formatDate(callCenter.startDate)}} - {{utils.formatDate(callCenter.endDate)}}
      </div>
      <div>
        {{callCenter.flightName}}
      </div>
    </li>
  </ul>
  <call_centers-form [hidden]="!canAddAndRemove()"></call_centers-form> 
  <div class="page-header">
    <h1>User Profiles</h1>
  </div>
  <ul class="list-group">
    <li *ngFor="#userProfile of profiles" class="list-group-item" [class.bg-inverse]="userProfile.isRemoved">
      <h3>
        <a [routerLink]="['/UserProfileDetails', {userProfileId: userProfile._id}]" [class.label-warning]="!userProfile.isValidated" >{{userProfile.name}}</a>
      </h3>
      <div>Phone: <a href="tel:{{userProfile.phone}}">{{userProfile.phone}}</a></div>
      <div>Email: <a href="mailto:{{userProfile.email}}">{{userProfile.email}}</a></div>
    </li>
  </ul>
</div>
